<script type="text/babel">
  const { useState } = React;
  const { useHistory } = ReactRouterDOM;
  const ManagerAuthForm = ({
    onClose,
    onLoginSuccess,
    isLoading,
    setIsLoading,
  }) => {
    const [formData, setFormData] = useState({
      username: "",
      password: "",
    });
    const [showPassword, setShowPassword] = useState(false);
    const history = useHistory();

    const handleChange = (e) => {
      const { name, value } = e.target;
      setFormData({
        ...formData,
        [name]: value,
      });
    };

    const handleLoginSubmit = (e) => {
      e.preventDefault();
      setIsLoading(true);

      google.script.run
        .withSuccessHandler((res) => {
          if (res.success === true) {
            onLoginSuccess(res.data);
            onClose();
            history.push("/manager-candidate");
            Swal.fire({
              icon: "success",
              title: res.message,
              timer: 2000,
            });
          } else {
            Swal.fire({
              icon: "error",
              title: res.message,
              timer: 2000,
            });
          }
          setIsLoading(false);
        })
        .withFailureHandler((err) => {
          Swal.fire({
            icon: "error",
            title: "เกิดข้อผิดพลาด",
            text: err.message || "เกิดข้อผิดพลาดในการเข้าสู่ระบบ",
            timer: 2000,
          });
          setIsLoading(false);
        })
        .loginManager(formData);
    };
    return (
      <div className="w-full space-y-5 animate-fade-in">
        <div className="flex items-center gap-2">
          <img
            src="https://drive.google.com/thumbnail?id=1LxpMS-U8MB14QlofD7t9vlAPQQ7hTna0"
            alt="user-logo"
            className="size-7 sm:size-8 rounded-full"
          />
          <p className="font-semibold text-amber-700 text-lg sm:text-xl">
            สำหรับผู้สัมภาษณ์
          </p>
        </div>

        {/*Form*/}
        <form onSubmit={handleLoginSubmit} className="w-full text-sm space-y-3">
          {/* Email */}
          <div className="flex flex-col gap-1">
            <label htmlFor="username" className="flex gap-2">
              ชื่อผู้ใช้ (Username){" "}
              <span className="text-xs sm:text-sm text-red-500">*</span>
            </label>
            <input
              type="text"
              className="w-full input focus-within:border-none"
              id="username"
              name="username"
              onChange={handleChange}
              placeholder="ชื่อผู้ใช้"
              required
            />
          </div>

          {/* Password */}
          <div className="relative flex flex-col gap-1">
            <div className="flex justify-between items-end">
              <label htmlFor="password" className="text-sm">
                รหัสผ่าน{" "}
                <span className="text-xs text-red-500 font-normal">*</span>
              </label>
            </div>
            <input
              type={showPassword ? "text" : "password"}
              className="w-full relative input focus-within:border-none"
              id="password"
              name="password"
              onChange={handleChange}
              placeholder="รหัสผ่าน"
              required
            />

            <span
              onClick={() => setShowPassword(!showPassword)}
              className="absolute top-7 right-3 size-8 rounded-full hover:bg-base-300 cursor-pointer duration-200 active:scale-95 transform transition-all text-gray-600 flex items-center justify-center"
            >
              {showPassword ? (
                <i className="fa-solid fa-eye-slash"></i>
              ) : (
                <i className="fa-solid fa-eye"></i>
              )}
            </span>
          </div>
          <button
            type="submit"
            disabled={isLoading}
            className="w-full bg-amber-600 hover:bg-amber-500 py-2.5 text-white cursor-pointer rounded-box duration-200 mt-1 text-base"
          >
            {isLoading ? <Loader /> : "เข้าสู่ระบบ"}
          </button>
        </form>
      </div>
    );
  };
</script>
